<form action="/new" method="POST">
  <input type="text" name="user" placeholder="User" required />
  <textarea name="text" placeholder="Text" required></textarea>
  <button type="submit">Submit</button>
</form>
